/* Style for the entire tab pane */
.tab-pane {
    -fx-opacity: 0.9; /* Making the entire TabPane slightly transparent */
}

/* Style for the tabs */
.tab-pane .tab-header-background {
    -fx-background-color: transparent; /* Transparent background for the tab bar */
}

.tab-pane .tab {
    -fx-background-color: #ccc; /* Light gray background for each tab */
    -fx-opacity: 0.8; /* Semi-transparent tabs */
}

.tab-pane .tab:selected {
    -fx-background-color: #fff; /* White background for the selected tab */
    -fx-opacity: 1; /* Fully opaque for selected tab */
}

.tab-pane .tab .tab-label {
    -fx-text-fill: #666; /* Dark gray text color for unselected tabs */
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: #000; /* Black text for selected tab */
}

.tab{
    -fx-padding: 5 20 5 20;
}

/* Style for clickable label with class clickable_label */
.clickable_label {
    -fx-text-fill: #040404; /* Blue text color */
    -fx-background-color: transparent; /* Transparent background */
    /* -fx-underline: true; Underline the text */
    -fx-cursor: hand; /* Change cursor to hand when hovering over the text */
    -fx-transition: 0.3s;
}
.clickable_label:hover{
    -fx-text-fill: #0099ff; /* Darken the text color when hovering over the text */
    -fx-background-color: #ffffff; /* Light gray background when hovering over the text */
}

#main_label{
    -fx-transition: 0.3s;
    -fx-text-fill: #00294e
}
#main_label:hover{
    -fx-text-fill: #0d8eff; /* Darken the text color when hovering over the text */
}

#toggle_button{
    -fx-background-color: #0099ff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.2em;
    -fx-padding: 0 20 0 20;
    -fx-border-radius: 5;
    -fx-border-color: #0099ff;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

#toggle_button_off{
    -fx-background-color: #ffffff;
    -fx-text-fill: #0099ff;
    -fx-font-size: 1.2em;
    -fx-padding: 0 20 0 20;
    -fx-border-radius: 5;
    -fx-border-color: #0099ff;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

#execute_button{
    -fx-background-color: #ffffff;
    -fx-text-fill: #0099ff;
    -fx-font-size: 1.2em;
    -fx-border-color: #0099ff;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-transition: 0.7s;
    -fx-padding: 10 20 10 20;
    -fx-margin: 10 10 10 10;
}

#execute_button:hover{
    -fx-background-color: #0099ff;
    -fx-text-fill: #ffffff;
    -fx-transition: 0.7s;
}

#v_handler_investments{
    -fx-background-color: inherit;
    -fx-font-size: 1.2em;
    -fx-cursor: hand;
    -fx-transition: 0.7s;
    -fx-padding: 10 20 10 20;
    -fx-margin: 10 10 10 10;
}

#h_handler_investments{
    -fx-background-color: #ffffff;
    -fx-font-size: 1.2em;
    -fx-cursor: hand;
    -fx-transition: 0.7s;
    -fx-padding: 10 20 10 20;
    -fx-margin: 10 10 10 10;
}
#h_handler_investments:hover{
    -fx-background-color: #b4b4b4;
    -fx-text-fill: #dcdcdc;
    -fx-transition: 0.7s;
}

.stock_hbox{
    -fx-background-color: #ffffff;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-margin: 10 10 10 10;
}
.stock_hbox:hover{
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-margin: 10 10 10 10;
}

.stock_vbox{
    -fx-background-color: #ffffff;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-margin: 10 10 10 10;
}
.stock_vbox:hover{
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-margin: 10 10 10 10;
}

